@model IEnumerable<RestaurantePro.WebUi.Models.ClienteGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>ClienteList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modify_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modify_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modify_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modify_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
              
            </td>
        </tr>
}
    </tbody>
</table>
